
.currentLink {
    background-color: pink;
}

.currentLink :hover {
    text-decoration: none;
}

.about-h1 {
    font-size: 42px;
    text-align: center;
    padding: 10px;
}

.about-div {
    font-size: large;
    display: flex;
    justify-content: space-around;
}

.about-div p {
    align-self: center;
    background-color: lightblue;
    padding: 20px;
}

.about-div img {
    height: 260px;
    padding: 40px;
    background-color: red;
}

.sites-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.site-div{
    width: 350px;
    height: auto;
    padding: 20px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
}

.site-div h2{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.site-div img{
    width: 300px;
    border: 2px solid black;
    border-radius: 15px;
}

.site-div p{
    margin-bottom: 5px;
}

.site-div div {
    position: absolute;
    bottom: 2px;
}

.site-div div a{
    padding: 5px;
    text-decoration: underline;
    font-weight: 600;
}

