
.currentLink {
    background-color: pink;
}

.currentLink :hover {
    text-decoration: none;
}

.about-h1 {
    font-size: 42px;
    text-align: center;
    padding: 10px;
}

.about-div {
    font-size: large;
    display: flex;
    justify-content: space-around;
}

.about-div p {
    align-self: center;
    background-color: lightblue;
    padding: 20px;
}

.about-div img {
    height: 260px;
    padding: 40px;
    background-color: red;
}