body{
    background-color: darkgray;
}

header{
    display: flex;
    justify-content: space-evenly;
    height: 150px;
    background-color: red;
    align-items: center;
}

header h1{
    font-size: 50px;
    font-weight: bold;
}

nav{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    padding: 5px
}

.currentLink {
    background-color: darkgrey;
    border: 2px solid darkred;
    border-radius: 15px;
    text-decoration: underline;
    padding-bottom: 6px;
}

.about-h1 {
    font-size: 42px;
    text-align: center;
    padding: 5px;
}

.about-div {
    font-size: large;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    padding-bottom: 125px;
    align-items: center;
}

.about-div p {
    align-self: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
}

.about-div img {
    height: 260px;
    padding: 40px;
    background-color: red;
}

.sites-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-bottom: 125px;
}

.site-div{
    width: 350px;
    height: auto;
    padding: 20px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
}

.site-div h2{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.site-div img{
    width: 300px;
    border: 2px solid black;
    border-radius: 15px;
}

.site-div p{
    margin-bottom: 5px;
}

.site-div div {
    position: absolute;
    bottom: 2px;
}

.site-div div a{
    padding: 5px;
    text-decoration: underline;
    font-weight: 600;
}

.contact-info{
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    font-weight: 600;
}

.email-form{
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: space-between;
    height: auto;
    align-items: center;
    padding-bottom: 125px;
}

.input-div{
    width: 95%;
}

.input-div p{
    background-color: red;
    font-weight: 500;
    width: fit-content;
    padding: 5px;
    margin-left: 10px;
}

.input-div input, textarea{
    width: 95%;
    height: auto;
    padding: 5px;
    margin: 10px;
}

.email-form button{
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
    background-color: red;
}

footer{
    display: flex;
    background-color: red;
    height: 75px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0px;
}

footer a {
    text-decoration: underline;
}