:root{
    --darkgreen: #373d20;
    --medgreen: #647744;
    --lightgreen: #80874d;
}

body{
    background-color: lightgray;
}

header{
    display: flex;
    flex-direction: column;
    height: 180px;
    background-color: var(--medgreen);
    align-items: center;
    width: 100%;
}

header h1{
    margin-top: 10px;
    font-size: 50px;
    font-weight: bold;
}

nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.nav-link{
    font-size: 20px;
    margin: 15px;
    padding: 8px
}

.nav-link:hover{
    text-decoration: underline;
}

.currentLink {
    color: white;
    text-decoration: underline;
    padding-bottom: 6px;
}

.about-h1 {
    font-size: 42px;
    text-align: center;
    padding: 5px;
    font-weight: 600;
}

.about-div {
    font-size: large;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    padding-bottom: 65px;
    align-items: center;
}

.image-div{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-div img {
    height: 260px;
    padding: 40px;
    background-color: var(--lightgreen);
    border-radius: 30px;
}

.about-div p {
    align-self: center;
    padding: 20px;
    border: 1px solid var(--darkgreen);
    border-radius: 20px;
    margin: 10px;
    width: 60%;
    margin-top: 80px;
    margin-right: 70px;
    font-size: 20px;
}


.sites-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-bottom: 65px;
}

.site-div{
    width: 350px;
    height: auto;
    padding: 20px;
    background-color: var(--lightgreen);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
}

.site-div h2{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.site-div img{
    width: 300px;
    border: 2px solid black;
    border-radius: 15px;
}

.site-div p{
    margin-bottom: 5px;
    font-weight: 450;
}

.site-div div {
    position: absolute;
    bottom: 2px;
}

.site-div div a{
    padding: 5px;
    text-decoration: underline;
    font-weight: 600;
}

.contact-info{
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    font-weight: 600;
}

.email-form{
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: space-between;
    height: auto;
    align-items: center;
    padding-bottom: 65px;
}

.input-div{
    width: 95%;
}

.input-div p{
    background-color: var(--medgreen);
    font-weight: 500;
    width: fit-content;
    padding: 5px;
    margin-left: 10px;
}

.input-div input, textarea{
    width: 95%;
    height: auto;
    padding: 5px;
    margin: 10px;
    background-color: oldlace;
}

.email-form button{
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
    background-color: var(--lightgreen);
    padding: 7px;
    font-size: 18px;
}

.resume, .skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    text-align: center;
}

.skills{
    padding-bottom: 65px;
}

.resume h1, .skills h1{
    font-size: 40px;
    font-weight: 600;
}

.resume h2{
    font-size: 30px;
    text-decoration: underline;
    margin-top: 25px;
}

.skills table, .skills table th, .skills table td{
    border: 1px solid var(--darkgreen);
    padding: 5px;
} 

.skills table th, .skills table td{
    width: 180px;
}

footer{
    display: flex;
    background-color: var(--medgreen);
    height: 45px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0px;
}

footer a {
    text-decoration: underline;
    font-size: 18px;
}

@media screen and (max-width: 500px){
    header{
        width: 100%;
    }
    
    .nav-link{
        margin: 10px;
        text-align: center;
    }

    .about-div{
        flex-direction: column;
        padding: 0px;
        padding-bottom: 65px;
    }

    .image-div{
        width: 60%;
    }

    .image-div img{
        margin-top: 25px;
    }

    .about-div p{
        margin-right: 0px;
        margin-top: 40px;
        width: 70%;
    }

    .contact-info{
        flex-direction: column;
        align-items: center;
    }

    .resume h1{
        text-align: center;
        padding: 10px;
        margin-bottom: 50px;
    }
}